<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 com desktop4 desktop5 rescap">

  <Identity
    Name="{{PACKAGE_NAME}}"
    Publisher="{{PUBLISHER}}"
    Version="{{PACKAGE_VERSION}}"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>{{DISPLAY_NAME}}</DisplayName>
    <PublisherDisplayName>{{PUBLISHER_DISPLAY_NAME}}</PublisherDisplayName>
    <Description>AcaNomo Markdown Editor</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Resources>
    <Resource Language="zh-cn" />
    <Resource Language="zh-tw" />
    <Resource Language="en-us" />
    <Resource Language="ja-jp" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19045.0"
      MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Applications>
    <Application
      Id="{{APPLICATION_ID}}"
      Executable="nomo.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        AppListEntry="default"
        DisplayName="{{DISPLAY_NAME}}"
        Description="AcaNomo Markdown Editor"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" />
      </uap:VisualElements>

      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="nomodocuments">
            <uap:DisplayName>AcaNomo documents</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.markdown</uap:FileType>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.json</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="AcaNomo Explorer commands">
              <com:Class
                Id="BC62B998-15B3-4A1A-A4EC-35BFCF652D70"
                Path="NomoShellExtension.dll"
                ThreadingModel="STA" />
              <com:Class
                Id="345A9E7E-91CD-4C79-B69C-EFC7CF8E8408"
                Path="NomoShellExtension.dll"
                ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb
                Id="NomoOpenMarkdown"
                Clsid="BC62B998-15B3-4A1A-A4EC-35BFCF652D70" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb
                Id="NomoOpenFolder"
                Clsid="345A9E7E-91CD-4C79-B69C-EFC7CF8E8408" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb
                Id="NomoOpenFolderBackground"
                Clsid="345A9E7E-91CD-4C79-B69C-EFC7CF8E8408" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
